.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.post-card {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
}

/* Theme: Green */
.green-theme {
  border: 2px solid #227120;
}

.green-theme mat-card-header {
  background-color: #227120;
  color: white;
}

.green-theme mat-card-content {
  padding: 1rem;
  background-color: #f5fff5;
  color: #333;
}

/* Theme: Orange */
.orange-theme {
  border: 2px solid #f58122;
}

.orange-theme mat-card-header {
  background-color: #f58122;
  color: white;
}

.orange-theme mat-card-content {
  padding: 1rem;
  background-color: #fff8f2;
  color: #333;
}

img[mat-card-image] {
  max-height: 200px;
  object-fit: cover;
}

.content {
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
