 .site-navbar .site-logo a img {
    width: 100px;
}
.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    top: 0;
    width: 100%;
    padding: 1rem;
    background: #19190b3b; 
    background: rgb(235,235,231);
    background: linear-gradient(0deg, rgb(255 255 255) 0%, rgb(252 240 217) 51%, rgb(255 232 195) 100%);
} 

