<!-- <app-navbar></app-navbar>







<app-footer></app-footer> -->
<!-- <app-contactus></app-contactus>
<br>
<br> -->

<!-- <input type="text" value="{{name}}" (change)="handeInputChng($event)">interpotion bining -->
<!-- <input type="email" [value]="emil">  property bining -->
<!-- <input type="number" value="{{salary*12}}"> -->

<!-- 
<input type="text" [(ngModel)]="name">
<input type="email" [(ngModel)]="emil">
<input type="number" [(ngModel)]="salary">
<button (click)="clearData()">clear</button>
<p>Wecome {{name}}</p>
<p>email : {{emil}}</p>
<p>salary : {{salary}}</p>
<br>
<br> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<router-outlet></router-outlet>
<script src="https://kit.fontawesome.com/b0ddde31e2.js" crossorigin="anonymous"></script>



<!-- <table class="table">
  <tr>
    <td>c id</td>
    <td>c name</td>
    <td>c price</td>
  </tr>
  <tr *ngFor="let obj of course;" [ngStyle]="{'backgroundColor': 'red'}">
    <td >{{obj.c_id}}</td>
    <td>{{obj.c_name}}</td>
    <td>{{obj.c_price}}</td>
    
  </tr>
</table>

<p *ngIf="isupdated">This is p</p>
<button (click)="changValue()">toggle</button> -->
