<!-- زر إضافة صورة -->
<button class="btn btn-success mb-3" (click)="openCreateDialog()">
  Add New Image
</button>

<!-- جدول إدارة الصور -->
<table class="table table-bordered table-hover text-center mt-3">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Image ID</th>
      <th>Image Preview</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of galleryService.galleryData; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ image.imageid }}</td>
      <td>
        <img 
          *ngIf="image.imagepath" 
          [src]="'../../assets/images/' + image.imagepath" 
          width="100" 
          height="80" 
          alt="Preview" 
          style="object-fit: cover; border-radius: 6px;"
        />
      </td>
      <td>
        <button class="btn btn-danger" (click)="openDeleteDialog(image.imageid)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Dialog تأكيد الحذف -->
<ng-template #callDeleteDialog>
  <h1 mat-dialog-title>Delete Image</h1>
  <div mat-dialog-content>Are you sure you want to delete this image?</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close="yes">Yes</button>
    <button mat-button mat-dialog-close="no">No</button>
  </div>
</ng-template>

<!-- Dialog لإضافة صورة -->
<ng-template #createDialog>
  <h1 mat-dialog-title>Add Image</h1>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="createForm">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Select Image</mat-label>
        <input type="file" #file formControlName="imagePath" (change)="uploadImage(file.files)" />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Done</button>
  </mat-dialog-actions>
</ng-template>
